.menu__toggle {
  position: fixed;
  right: 4%;
  font-size: 32px;
  color: white;
  border-radius: 0.8rem;
  top: 4%;
  border: none;
  width: 3rem;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(24px) saturate(100%);
  -webkit-backdrop-filter: blur(24px) saturate(180%);
  box-shadow:
    0 8px 32px rgba(0,0,0,0.18),
    inset 0 1px 0 #08213ae6;

}

.menu {
  position: fixed;
  top: 15%;
  right: 2.5%;
  z-index: 100;
  width: 150px;
  border-radius: 20px;
  z-index: 100;


}

.menu__list {
  list-style: none;
  text-align: end;
  z-index: 100;

}

.menu__list button {
  color: aliceblue;
  border-radius: 6px;
  border: none;
  height: 2.2rem;
  width: 5rem;
  font-weight: 900;
  position: relative;
  right: 15%;


  background: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(24px) saturate(100%);
  -webkit-backdrop-filter: blur(24px) saturate(180%);
  box-shadow:
    0 8px 32px rgba(0,0,0,0.18),
    inset 0 1px 0 #08213ae6;
}

@media (max-width: 768px) {
  .menu {
    right: 4%;
    top: 30%;
    /* max-width: 50px; */
  }
  .menu__list button {
    position: relative;
    /* right: 25%; */
  }


} 

.menu__panel {
  position: absolute;
  /* background-color: rgb(9, 20, 48, 0.9); */
  border-radius: 30px;
  z-index: 100;


  background: rgba(17, 49, 188, 0.145);
  backdrop-filter: blur(24px) saturate(100%);
  -webkit-backdrop-filter: blur(24px) saturate(180%);
  box-shadow:
    0 8px 32px rgba(0,0,0,0.98),
    inset 0 1px 0 rgba(8, 8, 12, 0.35);
}









