* {
  font-family: Arial, Helvetica, sans-serif;
  opacity: 98%;
}

body {
  background-color: rgb(0, 3, 21, 0.99);
  color: rgba(240, 248, 255, 0.917);

}

p {
  text-align: center;
  margin: 52px;
}

li {
  margin: 30px;
}

.welcome_header {
  text-align: center;
  opacity: 85%;
  margin: 50px;
}