* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(0, 3, 21, 0.99);
  color: aliceblue;

}

p {
  text-align: center;
  margin: 50px;
}

li {
  margin: 30px;
}

.welcome_header {
  text-align: center;
  opacity: 85%;
  margin: 50px;
}